<?xml version="1.0"?>
<!--
/**
  * Loewenstark_UrlIndexer
  *
  * @category  Loewenstark
  * @package   Loewenstark_UrlIndexer
  * @author    Mathis Klooss <m.klooss@loewenstark.com>
  * @copyright 2013 Loewenstark Web-Solution GmbH (http://www.mage-profis.de/). All rights served.
  * @license   https://github.com/mklooss/Loewenstark_UrlIndexer/blob/master/README.md
  */
-->
<config>
    <modules>
        <Loewenstark_UrlIndexer>
            <version>1.0.0.1</version>
        </Loewenstark_UrlIndexer>
    </modules>
    <global>
        <models>
            <urlindexer>
                <class>Loewenstark_UrlIndexer_Model</class>
                <resourceModel>urlindexer_resource</resourceModel>
            </urlindexer>
            <urlindexer_resource>
                <class>Loewenstark_UrlIndexer_Model_Resource</class>
                <entities>
                    <url_rewrite>
                        <table>urlindexer_url_rewrite</table>
                    </url_rewrite>
                </entities>
            </urlindexer_resource>
            <catalog>
                <rewrite>
                    <url>Loewenstark_UrlIndexer_Model_Url</url>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <url>Loewenstark_UrlIndexer_Model_Resource_Url</url>
                </rewrite>
            </catalog_resource>
        </models>
        <resources>
            <urlindexer_setup>
                <setup>
                    <module>Loewenstark_UrlIndexer</module>
                    <class>Loewenstark_UrlIndexer_Model_Resource_Setup</class>
                </setup>
            </urlindexer_setup>
        </resources>
        <helpers>
            <urlindexer>
                <class>Loewenstark_UrlIndexer_Helper</class>
            </urlindexer>
            <catalog>
                <rewrite>
                    <category_url_rewrite>Loewenstark_UrlIndexer_Helper_Category_Url_Rewrite</category_url_rewrite>
                </rewrite>
            </catalog>
        </helpers>
    </global>
    <default>
        <dev>
            <index>
                <enable>0</enable>
                <disable_products>1</disable_products>
                <notvisible_products>1</notvisible_products>
                <disable_categories>0</disable_categories>
                <optimize_categorie_leftjoin>0</optimize_categorie_leftjoin>
            </index>
        </dev>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <Loewenstark_UrlIndexer>
                    <files>
                        <default>Loewenstark_UrlIndexer.csv</default>
                    </files>
                </Loewenstark_UrlIndexer>
            </modules>
        </translate>
    </adminhtml>
</config>