<?xml version="1.0"?>
<config>
    <modules>
        <Loewenstark_UrlIndexer>
            <version>1.0.0.0</version>
        </Loewenstark_UrlIndexer>
    </modules>
    <global>
        <models>
            <urlindexer>
                <class>Loewenstark_UrlIndexer_Model</class>
                <resourceModel>urlindexer_resource</resourceModel>
            </urlindexer>
            <urlindexer_resource>
                <class>Loewenstark_UrlIndexer_Model_Resource</class>
                <entities>
                    <url_rewrite>
                        <table>urlindexer_url_rewrite</table>
                    </url_rewrite>
                </entities>
            </urlindexer_resource>
            <catalog>
                <rewrite>
                    <url>Loewenstark_UrlIndexer_Model_Url</url>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <url>Loewenstark_UrlIndexer_Model_Resource_Url</url>
                </rewrite>
            </catalog_resource>
        </models>
        <resources>
            <urlindexer_setup>
                <setup>
                    <module>Loewenstark_UrlIndexer</module>
                    <class>Loewenstark_UrlIndexer_Model_Resource_Setup</class>
                </setup>
            </urlindexer_setup>
        </resources>
        <helpers>
            <urlindexer>
                <class>Loewenstark_UrlIndexer_Helper</class>
            </urlindexer>
        </helpers>
    </global>
</config>